extends layout

block content
  div.row 
    h1 Tweets 
      small #WebDev @Uniandes
  div.row
    each t in tweets
      div.col-lg-4.col-md-4.well
        div.row
          div.col-lg-3.col-md-3.thumbnail
            img(src=t.user.profile_image_url)
          div.col-lg-8
            h4 #{t.user.name} <br /> @
              small #{t.user.screen_name}
        div.row.txt
            p #{t.text}
            
