* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}


.txt{
  padding: 0.5em 1em;
  text-align: justify;
}

.well {
  float:left;
  margin: 1em 3em;
  padding: 1em 1em;
}
